# PyCharm configuration folder
.idea

# Packaging
*.egg-info

data

# Python env
__pycache__
*.py[cod]
venv

# Logs
logs
errors
*.txt

# Testing
_

# Dependencies
!requirements.txt

# NixOS
.direnv
default.nix
.envrc
.gitignore
